# Node.js
node_modules/
npm-debug.log
.env

# Python
*.pyc
__pycache__/
*.pyo
*.pyd
env/

# Unity
Library/
Temp/
Obj/
Build/

# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# IDEs
.vscode/
.idea/
